.header {
  display: flex;
  align-items: center;
  background-color: #21222a;
  color: #61daf8;
  padding: 2rem 1.5rem;
  width: 100dvw;
}

.header img {
  width: 40px;
  height: 40px;
  display: block;
}

.header span {
  font-size: 1.25rem;
}
